.RollDie {
    display: flex;
    flex-flow: column nowrap;
    min-height: 100vh;
}

.RollDie-Container {
    display: flex;
    justify-content: center;
    align-content: center;
}

.RollDie button {
    align-self: center;
    width: 10em;
    padding: 1.5em;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: black;
    margin-top: 3em;
}

.RollDie button:hover {
    background-color: slateblue;
    cursor: pointer;
    border: none;
}